/*HTML*/

.dropzone {
  min-height: 170px;
}

.dark-title {
  font-weight: bold !important;
  color: #3b4247 !important;
}

.pointer {
  cursor: pointer !important;
}

.tab-content p.form-title {
  font-weight: bold;
  color: #3b4247;
}

.smaller {
  font-size: 70% !important;
}

.scrollable .scroll-h-50 {
  height: 50px !important;
}

.scrollable .scroll-h-70 {
  height: 70px !important;
}

.scrollable .scroll-h-90 {
  height: 90px !important;
}

.scrollable .scroll-h-100 {
  height: 100px !important;
}

.scrollable .scroll-h-120 {
  height: 120px !important;
}

.role-permission-modal {
  width: 100% !important;
  max-width: 1024px !important;
}

/* Buttons */

.btn-outline-primary {
  color: #0275d8 !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #0275d8 !important;
}

.btn-outline-danger {
  color: #F55753 !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #F55753 !important;
}

.btn-outline-warning {
  color: #F8D053 !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #F8D053 !important;
}

.btn-outline-info {
  color: #3B4752 !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #3B4752 !important;
}

.btn-outline-success {
  color: #10CFBD !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #10CFBD !important;
}

.btn-outline-complete {
  color: #48B0F7 !important;
  background-image: none !important;
  background-color: transparent !important;
  border-color: #48B0F7 !important;
}

.no-click {
  pointer-events: none;
}

.datepicker table tr td.today {
  color: #000000 !important;
  background-color: #ffdb99 !important;
  border-color: #ffb733;
}

.no-margin {
  margin: 0 !important;
}

.fs-24 {
  font-size: 24px !important;
}

.f-w-100 {
  font-weight: 100 !important;
}

.f-w-200 {
  font-weight: 200 !important;
}

.f-w-300 {
  font-weight: 300 !important;
}

.f-w-400 {
  font-weight: 400 !important;
}

.f-w-500 {
  font-weight: 500 !important;
}

.f-w-600 {
  font-weight: 600 !important;
}

.f-w-700 {
  font-weight: 700 !important;
}

.f-w-800 {
  font-weight: 800 !important;
}

.f-w-900 {
  font-weight: 900 !important;
}

.employee-details label {
  font-size: 11px !important;
  text-transform: uppercase !important;
  margin: 0 !important;
}

.employee-details h5 {
  font-size: 16px !important;
  margin-top: 0 !important;
  font-weight: 400 !important;
}

.d-flex-not-important {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#search-box {
  height: 40px;
}

/* Text*/

.text-green {
  color: #00b282 !important;
}

.text-alert {
  color: #ea2c54;
  font-size: 14px;
  font-weight: bold;
}

.text-disabled {
  color: #7a8994 !important;
}

.left-0 {
  left: 0 !important;
}

.w-150 {
  width: 150px !important;
}

.h-35 {
  height: 35px !important;
}

.h-40 {
  height: 40px !important;
}

.h-250 {
  height: 250px !important;
}

.h-273 {
  height: 273px !important;
}

.h-275 {
  height: 275px !important;
}

.h-350 {
  height: 350px !important;
}

.h-500 {
  height: 500px !important;
}

.h-650 {
  height: 800px !important;
}

.h-750 {
  height: 750px !important;
}

.h-800 {
  height: 800px !important;
}

.italic {
  font-style: italic !important;
}

/* Table */

.table-text-center th,
.table-text-center td {
  text-align: center !important;
}

.parent-center {
  position: relative;
}

.child-center {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.calendar-cell {
  padding: 4px 8px !important;
  font-size: 11px !important;
  border: none !important;
}

/* Max width*/

.max-w-100 {
  max-width: 100px !important;
}

.max-w-150 {
  max-width: 150px !important;
}

.max-w-200 {
  max-width: 200px !important;
}

.max-w-250 {
  max-width: 250px !important;
}

.max-w-300 {
  max-width: 300px !important;
}

/* Index */

.z-index-minus-1 {
  z-index: -1 !important;
}

